<% if errors = FormErrors.new(record).errors %>
  <div class="form-errors">
    <p>
      Please check your form data before continuing:
    </p>

    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
